/* * {
    border: 5px solid red;
} */

header {
	color: rgb(0, 0, 0);
	font-size: 1rem;
	font-weight: 400;
    text-align: center;
    
}
p {
	font-family: "Zalando Sans", sans-serif;
}
body  {
    color:#3d3d3d;
  font-family: "Zalando Sans", sans-serif;
  font-size:1rem;
  font-weight:150;
  font-style: normal;
  background-color: rgb(138, 136, 136);
}
.container {
    background-color: white;
    max-width: 1024px;
    border-radius: 15px;
    box-shadow: rgba(0, 0, 0, 0.35)
                     0px 5px 15px;
    margin: 20px auto;
    padding: 5px 30px;
}
img {
	width: 150px;
	border-radius: 15px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
} 
a {
    color:#2600ff;
    font-family: Impact;
}
a:hover {
    color:rgb(153, 0, 255);
}
#navbar {
    background-color: #333;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px;
    font-size: 2rem;
    font-weight: 250;
}

#navbar a {
    color: white;
    text-decoration: none;
}
#navbar ul {
    display: flex;
    list-style: none;
    align-items: center;
}

#navbar ul li a {
    padding: 10px;
    margin: 0 4px;
}

#navbar ul li a:hover {
    background-color: #93cb52;
    border-radius: 5px;
}
.img_pozice
{
    float: right;
    width: 40%;
    
}
.validace {
    width: 12%;
}

.big {
    font-size: 3rem;
    font-weight: bold;
}

@media(max-width:500px) {
    body {
        background-color: red;
    }

    #smartphone {
        display: block;
    }
}

@media(min-width: 501px) and (max-width:768px) {
    body {
        background-color: green;
    }

    #tablet {
        display: block;
    }
}

@media(min-width: 769px) and (max-width:1200px) {
    body {
        background-color: cyan;
    }

    #normal {
        display: block;
    }
}

@media(min-width: 1201px) {
    body {
        background-color: black;
    }

    #widescreen {
        display: block;
    }
}

@media(max-height: 500px) {
    body {
        background-color: orange;
    }

    #landscape {
        display: block;
    }
}
